{% extends 'base.html'%}
{% block content %}
{% load static %}
<section class="jumbotron text-center">
    <div class="container">
        <img src="{% static './images/img1.png'%}" width="120"  alt="">
        <h1 class="display-4">Abhishek N</h1>
        <p class="lead">Fresher,Freelancer</p>
        <p class="font-italic h5 text-muted">Eagar to Learn new technologies and improving the skills for the current industy standards</p>
    </div>

</section>
<section>
        
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static './images/profile.png'%}"  width="600px" alt="">
            </div>
            <div class="col-md-6">
                <p class="h3 font-italic">Hello,</p><br>
                <p class="h5 lead font-italic"> My Name is Abhishek N recenty completed the Master of  computer Application (M.C.A) in 2021 from P.E.S College of engineering Mandya  currenty Seeking for the opportunities as a fresher  </p>
                <a  class="h5  mt-2" href="{% static './resume/resume.pdf'%}" download> <i class="fas fa-download"></i> Download Resume</a>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <h1 class="text-center text-primary"><i class="fas fa-tools"></i> Technical Skills</h1><hr>
        <div class="row">
            <div class="col-md-4  mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-primary">Python</h5>
                      <h5 text-center><i class="fab fa-python fa-3x text-primary" ></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star-half-alt"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4  mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-warning">Django Framework</h5>
                      <h5 text-center><i class="fas fa-laptop-code fa-3x text-warning"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star-half-alt"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4   mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-success">Machine Learning</h5>
                      <h5 text-center><i class="fas fa-cogs fa-3x text-success"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
        </div>


        <div class="row" >
            <div class="col-md-4 mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-danger">Java Programing</h5>
                      <h5 text-center><i class="fab fa-java fa-3x text-danger"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star-half-alt"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title ">Flask Framework</h5>
                      <h5 text-center><i class="fas fa-laptop-code fa-3x"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-info">SQL</h5>
                      <h5 text-center><i class="fas fa-database fa-3x text-info "></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star-half-alt"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-4 mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-success">Android</h5>
                      <h5 text-center><i class="fab fa-android fa-3x text-success"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title ">Java Script</h5>
                      <h5 text-center><i class="fab fa-js fa-3x text-warning"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-auto py-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center py-3">
                      <h5 class="card-title text-info">React JS</h5>
                      <h5 text-center><i class="fab fa-react fa-3x text-info"></i></h5>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      <span><i class="far fa-star"></i></span>
                      
                    </div>
                  </div>
            </div>
        </div><br>


        




    </div>

    
    

</section>
{%endblock%}