<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
    <title>Title Page</title>
</head>
<body>
<!--nav Bar Starts Hear -->
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ABHISHEK N</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <a class="nav-link" href="{% url 'homepage' %}"> <i class="fas fa-user-tie fa-1x"></i> About Me <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}"><i class="far fa-folder-open"></i> Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-address-book"></i> Contact Me</a>
      </li>
      
    </ul>
  </div>
</nav>
</header>



{% block content%}
{%endblock%}


<footer class="fotter bg-dark mt-auto py-3" >
    <div class="continer-fluid bg-dark text-white text-center py-3">
        <h3><i class="fas fa-address-card"></i>  &nbsp Contact Me</h3>
        <p class="h4 "><i class="fas fa-phone-alt "></i>  &nbsp +91 &nbsp 7795817996</p>
        <p class="h4"> <i class="fas fa-envelope-open-text"></i> &nbsp gowleabhi@gmail.com</p>
        <a href="https://github.com/Abhishekgowli" style="padding-left: 25px"
          ><i class="fab fa-github fa-3x"></i
        ></a>
        <a href="https://twitter.com/Abhishekgowli01" style="padding-left: 25px"
          ><i class="fab fa-twitter fa-3x"></i
        ></a>
        <a href="https://www.linkedin.com/in/abhishek-gowle-351490185/" style="padding-left: 25px"
          ><i class="fab fa-linkedin fa-3x"></i
        ></a>

    </div>

    

</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>